.donor-receiver-admin,
.donor-receiver-admin * {
  box-sizing: border-box;
}
.donor-receiver-admin {
  background: #ffffff;
  height: 1431px;
  position: relative;
  overflow: hidden;
}
.frame-256 {
  background: #ff1c1c;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1440px;
  position: absolute;
  left: 0px;
  top: 1070px;
}
.blood-donation-management-system {
  color: #ffffff;
  text-align: left;
  font-family: var(--heading-h1-bold-font-family, "Inter-Bold", sans-serif);
  font-size: var(--heading-h1-bold-font-size, 48px);
  line-height: var(--heading-h1-bold-line-height, 130%);
  font-weight: var(--heading-h1-bold-font-weight, 700);
  position: relative;
}
.frame-255 {
  padding: 18px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 789px;
  position: relative;
}
.frame-254 {
  display: flex;
  flex-direction: row;
  gap: 23px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-252 {
  padding: 8px 6px 8px 6px;
  display: flex;
  flex-direction: column;
  gap: 31px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.quick-links {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  line-height: 130%;
  font-weight: 600;
  position: relative;
  align-self: stretch;
}
.frame-251 {
  display: flex;
  flex-direction: column;
  gap: 17px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 118px;
  position: relative;
}
.home {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 10px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  height: 19px;
}
.about-us {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 10px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  height: 19px;
}
.contact-us {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 10px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  height: 19px;
}
.donor-list {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 10px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  height: 19px;
}
.search-donor {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 10px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  height: 19px;
}
.admin {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 10px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  height: 19px;
}
.frame-250 {
  display: flex;
  flex-direction: column;
  gap: 9px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 242px;
  position: relative;
}
.frame-238 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.contact-us2 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: relative;
}
.frame-240 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.blood-donation-management-team {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --paragraph-p1-regular-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--paragraph-p1-regular-font-size, 14px);
  font-weight: var(--paragraph-p1-regular-font-weight, 400);
  position: relative;
}
.frame-241 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.nakhipot-lalitpur-ward-1 {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --paragraph-p1-regular-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--paragraph-p1-regular-font-size, 14px);
  font-weight: var(--paragraph-p1-regular-font-weight, 400);
  position: relative;
}
.frame-242 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.postal-code {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --paragraph-p1-regular-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--paragraph-p1-regular-font-size, 14px);
  font-weight: var(--paragraph-p1-regular-font-weight, 400);
  position: relative;
}
.frame-243 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.info-gorkhey-jutta-com-np {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --paragraph-p1-regular-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--paragraph-p1-regular-font-size, 14px);
  font-weight: var(--paragraph-p1-regular-font-weight, 400);
  position: relative;
}
.frame-248 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.tel-01-545339 {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --paragraph-p2-regular-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--paragraph-p2-regular-font-size, 14px);
  line-height: var(--paragraph-p2-regular-line-height, 160%);
  font-weight: var(--paragraph-p2-regular-font-weight, 400);
  position: relative;
}
.frame-249 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
._01-5453339 {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --paragraph-p2-regular-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--paragraph-p2-regular-font-size, 14px);
  line-height: var(--paragraph-p2-regular-line-height, 160%);
  font-weight: var(--paragraph-p2-regular-font-weight, 400);
  position: relative;
}
.frame-253 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 379px;
  position: relative;
}
.group-2 {
  position: absolute;
  inset: 0;
}
.frame-435 {
  border-radius: 25px;
  border-style: solid;
  border-color: #ff1c1c;
  border-width: 1px;
  padding: 8px 28px 8px 28px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 534px;
  top: 301px;
}
.frame-432 {
  display: flex;
  flex-direction: column;
  gap: 27px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.login-here {
  color: #000000;
  text-align: left;
  font-family: var(--paragraph-p1-bold-font-family, "Inter-Bold", sans-serif);
  font-size: var(--paragraph-p1-bold-font-size, 16px);
  line-height: var(--paragraph-p1-bold-line-height, 160%);
  font-weight: var(--paragraph-p1-bold-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 307px;
  position: relative;
}
.label2 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
}
.frame-4 {
  border-radius: 10px;
  border-style: solid;
  border-color: #b09b9b;
  border-width: 1px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  gap: 18px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 300px;
  height: 48px;
  position: relative;
}
.label3 {
  color: #a39494;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  flex: 1;
}
.frame-303 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 307px;
  position: relative;
}
.eye {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.forgot-password {
  color: #000000;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 10px;
  line-height: 150%;
  font-weight: 400;
  text-decoration: underline;
  position: relative;
  align-self: stretch;
}
.button {
  background: #ff1c1c;
  border-radius: 13px;
  padding: 15px 59px 15px 59px;
  display: flex;
  flex-direction: row;
  gap: 13px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 155px;
  position: relative;
}
.button2 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  font-weight: 500;
  position: relative;
}
.frame-434 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.or {
  color: #000000;
  text-align: center;
  font-family: var(
    --caption-c1-regular-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--caption-c1-regular-font-size, 12px);
  line-height: var(--caption-c1-regular-line-height, 150%);
  font-weight: var(--caption-c1-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.frame-429 {
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-425 {
  background: #f2f2f2;
  border-radius: 100px;
  border-style: solid;
  border-color: #e2e2e2;
  border-width: 1px;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  position: relative;
  overflow: hidden;
}
.microsoft {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 7px;
  top: 7px;
  overflow: visible;
}
.frame-426 {
  background: #f2f2f2;
  border-radius: 100px;
  border-style: solid;
  border-color: #e2e2e2;
  border-width: 1px;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  position: relative;
  overflow: hidden;
}
.apple {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 7px;
  top: 7px;
  overflow: visible;
}
.frame-427 {
  background: #f2f2f2;
  border-radius: 100px;
  border-style: solid;
  border-color: #e2e2e2;
  border-width: 1px;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  position: relative;
  overflow: hidden;
}
.google {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 7px;
  top: 7px;
  overflow: visible;
}
.frame-302 {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.don-t-have-account {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 10px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
}
.create {
  color: var(--blue-blue-600, #4c75e7);
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 10px;
  line-height: 150%;
  font-weight: 400;
  text-decoration: underline;
  position: relative;
}
